<div>
    <div>
        <h1>Universidad</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa obcaecati nisi unde consequatur alias tempore impedit veniam temporibus necessitatibus velit ab consequuntur voluptatibus hic molestias, adipisci quisquam. Unde, suscipit porro?</p>
    </div>
    <div>
        <h1>UTP</h1>
    </div>

    <input type="text" name="nombre" [(ngModel)]="nombre"/><br>
    mi nombre es {{nombre}}<br>
    <input type="text" name="apellido" [(ngModel)]="apellido"/><br>
    mi apellido es {{apellido}}<br>
    <input type="text" name="direccion" [(ngModel)]="direccion"/><br>
    mi dirección es {{direccion}}<br>

    <button (click)="hacerAlgo()">clic</button>
    <button (click)="hacerAlgo2()">clic otra vez</button>

    <div *ngIf="var1;else otherVar">
        <h1>Arequipa</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim possimus atque, fuga a similique id sequi architecto debitis omnis magnam tempora laborum dolorem eos repudiandae, at hic, fugiat quidem culpa.Omnis, voluptas laboriosam? Vero ipsam fuga quibusdam, consequuntur quidem maxime earum ullam ea fugit nulla, odio porro totam magnam corrupti, minima accusamus dicta. Quae ex, eligendi non deserunt explicabo beatae!</p>
    </div>
    <ng-template #otherVar>
        <h1>Cusco</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, repudiandae qui? Iusto beatae doloremque ea consequuntur ipsa expedita animi rem, ipsum saepe amet pariatur aperiam dolore iure enim perferendis similique!Fugit explicabo ratione repellat vero temporibus optio maxime, dolorum voluptas, libero eligendi laborum suscipit quos hic qui. Debitis culpa quisquam reiciendis laudantium neque, deserunt autem dolore alias. Suscipit, eum debitis.</p>
    </ng-template>
    <button (click)="var1 = !var1">ocultar</button>
</div>